@{
    ViewData["Title"] = "food ekle";
    Layout = "_Layout";
}
@model CoreAndFood.Data.Models.Food



<div>

    <h2>food add page</h2>

    <h3>seçilen food item : @Model.FoodName</h3>

    <form action="/Food/FoodUpdate/" method="post">


        <p>id: </p>
        <input type="text" class="form-control" name="FoodId" value=@Model.FoodId required />

        <p>adı: </p>
        <input type="text" class="form-control" name="FoodName" value=@Model.FoodName required />


        <p> stock: </p>
        <input type="text" class="form-control" name="Stock" value=@Model.Stock required />

        <p>  price: </p>
        <input type="text" class="form-control" name="Price" value=@Model.Price required />

        <p> image url: </p>
        <input type="text" class="form-control" name="ImageURL"  value=@Model.ImageURL required />


        
        <p>category: </p>
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.listicerik, new { @class = "form-control" })

        <p>description: </p>
        <textarea name="Desc" rows="10" cols="100" value=@Model.Desc> </textarea>
        <br />


        <button type="submit" class=" btn btn-primary">update</button>
    </form>


</div>